---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import "../styles/reset.css"
import MyJob from '../components/MyJob.astro';
import ContactMe from '../components/ContactMe.astro';
import Need from '../components/Need.astro';
---

<Layout title="Welcome to Astro.">
	<main>
	 <Main/>
	 <MyJob/>
     <Need/>
     <ContactMe/>
	</main>
</Layout>


