---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
import "../styles/reset.css"
import MyJob from '../components/MyJob.astro';
import ContactMe from '../components/ContactMe.astro';
import Need from '../components/Need.astro';
import Request from '../components/request.astro';

---

<Layout title="Construcciones Gómez">
	<main>
	 <Main id="home"/>
	 <MyJob id="gallery"/>
     <Need/>
	 <Request/>
     <ContactMe id="contact"/>
	</main>
</Layout>


