---
---

<footer>
    <div class="footer-container">
        <div class="text-footer">
            <p>Construcciones Gomez - Todos los derechos reservados </p>
        </div>

        <div class="social-footer">
            <img src="../../public/facebook.png" alt="">
            <p>Siguenos en nuestras redes sociales</p>
        </div>
    </div>
</footer>


<style>
  .footer-container {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    background-color: yellow;

  }

  .text-footer {
    font-size: 10px;
    
  }
  
  .social-footer {
    display: flex;
  }

  .social-footer p {
    font-size: 10px;
  }

  .social-footer img{
    width: 15px;
    height: 15px;
    margin: 5px;
  }
</style>