---
---

<style>
  .floating-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
  }

  .floating-button {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25D366; /* WhatsApp color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.3s;
    filter: drop-shadow(0px 0px 20px green);
  }

  .floating-button:hover {
    transform: scale(1.1);
    filter: drop-shadow(0px 0px 30px rgb(41, 255, 41));
    
  }

  .floating-button img {
    width: 40px;
    height: 40px;
  
  }
</style>

<div class="floating-buttons">
  <a href="https://wa.me/8128595397?text=Hola,%20vengo%20de%20tu%20página%20web%20me%20interesa%20un%20presupuesto." class="floating-button" target="_blank" rel="noopener noreferrer">
    <img src="../../public/whatsapp.png" alt="WhatsApp" />
  </a>
</div>
