---
import BgChanger from "./BgChanger"
---

<main>
   <BgChanger/>
    <div class="valores-container">
        <div class="valor-container">
            <div class="valor-title-container">
            <img  src="../../public/medalla.png" alt="">
            <h3>Calidad</h3>
            </div>
            <p>Nos enorgullece ofrecer materiales y acabados de la más alta calidad, garantizando la durabilidad y resistencia de cada una de nuestras albercas.</p>
        </div>
        <div class="valor-container">
            <div class="valor-title-container">
            <img src="/trabajador.png" alt="">
            <h3>Profesionalismo</h3>
            </div>
            <p>Contamos con un equipo altamente capacitado y comprometido con la excelencia en cada proyecto, desde el diseño hasta la entrega final.</p>
        </div>
        <div class="valor-container">
            <div class="valor-title-container">
            <img src="/satisfaccion.png" alt="">
            <h3>Satisfaccion</h3>
            </div>
            <p>Nos aseguramos de que cada detalle cumpla con las expectativas de nuestros clientes, proporcionando resultados que superan sus expectativas.</p>
        </div>
        <div class="valor-container">
            <div class="valor-title-container">
            <img src="/tiempo-rapido.png" alt="">
            <h3>Agilidad</h3>
            </div>
            <p>Entregamos proyectos dentro del plazo acordado sin comprometer la calidad, para que disfrutes de tu alberca en el menor tiempo posible.</p>
        </div>
    </div>
</main>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    
    .valores-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        background-color: rgb(255, 255, 77);
        text-align: center;
        width: 100vw;
        height: auto;
        border: 20px 10px 20px 10px transparent solid;
      

        p {
            margin: 15px;
            text-align: justify;
        }
    }

    .valor-title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25vw;
        height: auto;

        h3 {
            font-weight: 900;
           
        }
    }

    .valor-title-container img{
        width: 40px;
        
    }

    @media(width < 900px){
        
        .valor-title-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            border: 10px solid transparent;

            img {
                margin: 10px;
            }
        }


        .valores-container {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

      
    }

</style>
