---
import BgChanger from "./BgChanger"
---

<main>
   <BgChanger/>
    <div class="valores-container">
        <div class="valor-container">
            <div class="valor-title-container">
            <img  src="../../public/medalla.png" alt="">
            <h3>Calidad</h3>
            </div>
            <p>Nos enorgullece ofrecer materiales y acabados de la más alta calidad, garantizando la durabilidad y resistencia de cada una de nuestras albercas.</p>
        </div>
        <div class="valor-container">
            <div class="valor-title-container">
            <img src="../../public/trabajador.png" alt="">
            <h3>Profesionalismo</h3>
            </div>
            <p>Contamos con un equipo altamente capacitado y comprometido con la excelencia en cada proyecto, desde el diseño hasta la entrega final.</p>
        </div>
        <div class="valor-container">
            <div class="valor-title-container">
            <img src="../../public/satisfaccion.png" alt="">
            <h3>Satisfaccion</h3>
            </div>
            <p>Nos aseguramos de que cada detalle cumpla con las expectativas de nuestros clientes, proporcionando resultados que superan sus expectativas.</p>
        </div>
        <div class="valor-container">
            <div class="valor-title-container">
            <img src="../../public/tiempo-rapido.png" alt="">
            <h3>Agilidad</h3>
            </div>
            <p>Entregamos proyectos dentro del plazo acordado sin comprometer la calidad, para que disfrutes de tu alberca en el menor tiempo posible.</p>
        </div>
    </div>
</main>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
    
    .valores-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: space-between;
        background-color: rgb(255, 255, 77);
        text-align: center;
        width: 100vw;
        border: 15px yellow solid;

        p {
            margin: 15px;
            text-align: justify;
        }
    }

    .valor-title-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25vw;
        height: 10vh;

        h3 {
            font-weight: 900;
            margin: 10px 10px 10px 0px;
        }
    }

    .valor-title-container img{
        width: 40px;
        margin: 0px 10px 0px 0px;
    }

    @media(width < 900px){
        .valores-container {
            width: 100vw;
            display: flex;
            flex-direction: column;
        }

        .valor-container {
            margin: 15px;
        }
    }

</style>
