---
---

<myJob>
    <div class="myJob-container">
        <h1>Galeria</h1>
        <div class="card-container">
            <div class="card-info">
                <h2>Alberca 1</h2>
                <img src="../../public/alberca1.jpg" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, nulla!</p>
            </div>
            <div class="card-info">
                <h2>Alberca 2</h2>
                <img src="../../public/alberca2.jpg" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, nulla!</p>
            </div>
            <div class="card-info">
                <h2>Alberca 3</h2>
                <img src="../../public/alberca4.jpg" alt="">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sed, nulla!</p>
            </div>
        </div>
    </div>
</myJob>

<style>
  @import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    .myJob-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: rgb(77, 115, 255);
        
    }

    .myJob-container h1 {
        margin:10px;
        padding: 10px;
        font-family: "Arsenal SC";
        text-align: center;
    }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        margin: 10px;
        padding: 10px;
        height: auto;
        align-items: center;
        justify-content: space-around;
    }

    .card-info {
        padding: 10px;
        width: 33%;
        margin: 30px;
    }

    .card-info p {
        width: 60%;
    }

    .card-info img{
       width: 200px;
       height: 180px;
    }

    .card-info img:hover {
        width: 250px;
        height: 200px;
        border: rgb(0, 0, 202) 4px solid;
    }

    @media (max-width: 500px) {

    .card-info {
        padding: 5px;
        width: 100%;
        margin: 30px;
    }

    }
</style>