---

---

<navbar>
  <nav>
   <h1>Construcciones Gomez</h1>
   <div class="menu">
     <a href="">Inicio</a>
     <a href="">Mis trabajos</a>
     <a href="">Contacto</a>
   </div>
  </nav>
</navbar>


<style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
    
   
   nav {
        border: 1px solid black;
        color: #ededed;
        background:linear-gradient(rgb(36, 36, 36), rgb(7, 7, 7));
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        margin: 10px;
        font-size: 18px;
        font-family: "Roboto Condensed";
        color: yellow;
    }

    h1:hover {
        color: yellow;
    }

    .menu {
        display: flex;
        gap: 8px;
        margin: 10px;
    }

    .menu a {
        font-size: 12px;
    }

    .menu a:hover{
        color: yellow;
    }
</style>
