---

---


<need>
    <div class="explain-container">
        <div class="explain-title">
          <h1>Construimos todo tipo de albercas</h1>
        </div> 
        <div class="need-title">
        <div class="explain-card">
            <img src="/2067016.png" alt="">
            <h1>Rectangular</h1>
            <p>Nuestras albercas rectangulares ofrecen un diseño clásico y elegante, ideal para aprovechar al máximo el espacio disponible en tu jardín. Son perfectas tanto para nadar como para disfrutar de momentos de relajación en el agua.</p>
        </div>
        <div class="explain-card">
            <img src="/4489889.png" alt="">
            <h1>A tu diseño</h1>
            <p>Creamos albercas personalizadas según tus ideas y necesidades. Ya sea que imagines formas únicas o características especiales, nuestro equipo transformará tu visión en una alberca espectacular que se adapta perfectamente a tu espacio y estilo de vida.</p>
        </div>
        <div class="explain-card">
            <img src="/hidro.png" alt="">
            <h1>Hidromasaje</h1>
            <p>Disfruta del máximo lujo con nuestras albercas de hidromasaje. Perfectas para relajarte después de un largo día, estas albercas combinan diseño sofisticado con tecnología avanzada para brindarte una experiencia de bienestar inigualable.</p>
        </div>
        </div>
    </div>
</need>

<style>
    @import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');

    .explain-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: yellow;
    }

    .explain-container h1{
        text-align: center;
        font-family: "Arsenal SC";
        padding: 10px;
    }

    .need-title {
        display: flex;
    }
    
    .explain-title {
        display: flex;
        flex-direction: column;
    }

    .explain-card {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .explain-card img:hover {
        transform: scale(1.1);
    }

    .explain-card p {
        text-align: justify;
    }

    .explain-card img {
        width: 150px;
    }


    @media(width < 700px) {
       
        .need-title {
            flex-direction: column;
        }
    }

</style>