---
---


<need>
    <div class="explain-container">
        <h1>Construimos todo tipo de albercas</h1>
        <div class="explain-card">
            <img src="../../public/4489889.png" alt="">
            <h1>Rectangular</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officiis!</p>
        </div>
        <div class="explain-card">
            <img src="../../public/2067016.png" alt="">
            <h1>A tu diseño</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officiis!</p>
        </div>
        <div class="explain-card">
            <img src="../../public/hidro.png" alt="">
            <h1>Hidromasaje</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, officiis!</p>
        </div>
    </div>
</need>

<style>
    .explain-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background-color: yellow;
    }

    .explain-container h1{
        text-align: center;
    }

    .explain-card {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 10px;
    }

    .explain-card p {
        text-align: center;
    }

    .explain-card img {
        width: 150px;
    }
</style>