---
---

<section class="request-section">
    <div class="invitation-text">
      <h2>¡Obtén tu presupuesto personalizado!</h2>
      <span class="bouncing-element">🤝🏻</span>
      <p>
        ¿Estás interesado en construir una alberca perfecta para tu hogar? 
        Nuestro equipo está listo para ayudarte a hacer realidad tu proyecto. 
        Completa el formulario a continuación para recibir un presupuesto detallado y sin compromiso.
      </p>
      <p>
        ¡Contáctanos hoy mismo y da el primer paso hacia tu nueva alberca!
      </p>
    </div>
  </section>
  
  <style>
    .request-section {
    padding: 40px 20px;
    background-color: #e3f2fd; /* Color de fondo azul claro */
    border-radius: 8px;
    text-align: center;
    max-width: 100vw;
    
  }

  .invitation-text span {
    margin: 10px;
  }

  .invitation-text h2 {
    font-size: 2rem;
    color: rgb(46, 46, 255);/* Color azul oscuro para el encabezado */
    margin-bottom: 15px;
  }

  .invitation-text p {
    font-size: 1.2rem;
    color: rgb(1, 1, 182); /* Color azul más oscuro para el texto */
    margin-bottom: 15px;
    text-align: justify;
  }

  .bouncing-element {
  font-size: 2rem;
  display: inline-block;
  animation: bounce 2s infinite;
}

/* Definición de la animación de rebote */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0); /* Posición inicial y final */
  }
  
  40% {
    transform: translateY(-15px); /* Subida máxima */
  }
  
  60% {
    transform: translateY(-7px); /* Rebote intermedio */
  }
}

  </style>
  