---
import Navbar from '../components/Navbar.astro';
import FloatingButtons from "../components/IconsContact.astro"
import Footer from "../components/Footer.astro"


interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Construcciones Gómez Oficial: Página oficial de construcciones gómez, donde construimos tu alberca como tu te la imaginas!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/casco.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Navbar/>
		<slot />
       <FloatingButtons/>
	   <Footer/>
	</body>
</html>
